<div class="card">
  <h2 class="card__title">Lista de Professores</h2>

  <div class="card__content">
    <div class="table-responsive">

      <table class="product-table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th class="col-categoria">Questões</th>
            <th class="col-valor">Disciplinas</th>
            <th class="acoes">Ações</th>
          </tr>
        </thead>

        <tbody>
          @if (!currentUser; as user) {
            <tr class="product-table__row--loading">
              <td colspan="5"><div class="loading-spinner"></div></td>
            </tr>
          }

          @if (currentUser && professores && professores.length > 0) {
            @for (professor of professoresPaginados; track professor.id) {
              <tr>
                <td>{{ professor.nome }}</td>
                <td>{{ professor.email }}</td>
                <td class="col-categoria">{{ quantidadeQuestoes(professor) }}</td>
                <td class="col-valor">{{ quantidadeMaterias(professor) }}</td>
                <td>
                  <button
                    type="button"
                    (click)="verDetalhes(professor)"
                    class="product-table__action product-table__action--details"
                    title="Ver detalhes">
                    <mat-icon>search</mat-icon>
                  </button>
                </td>
              </tr>
            }
          }

          @if (currentUser && (!professores || professores.length === 0)) {
            <tr class="product-table__row--empty">
              <td colspan="5">Nenhum professor cadastrado.</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    
      <mat-paginator
      [length]="length"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [pageSizeOptions]="[5, 10, 25, 50]"
      (page)="trocarPagina($event)">
    </mat-paginator>
      <button
        mat-raised-button
        class="novo-professor-btn"
        (click)="novoProfessor()"
      >
      Novo Professor
      </button>

  </div>
</div>
