.navegacao{
  padding: 64px 32px;


  ul{
    display: flex;
    flex-direction: column;
    gap: 24px;
  }


  li{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    &:hover{
      color: rgb(102, 102, 240);
    }
  }

}
