<section class="navegacao">
  <nav>
    <ul>
      <li><img src="assets/logo/dashboard.png" alt="dashboard"><a routerLink="/dashboard">Dashboard</a></li>
      <li><img src="assets/logo/questoes.png" alt="questoes"><a routerLink="/disciplina">Banco de Questões</a></li>
      <li><img src="assets/logo/cadastro.png" alt="cadastro"><a routerLink="/pergunta">Cadastrar Questão</a></li>
      <li><img src="assets/logo/prova.png" alt="prova"><a routerLink="/home">Gerar Prova</a></li>
      <li><img src="assets/logo/sair.png" alt="sair"><a routerLink="/home">Sair</a></li>
    </ul>
  </nav>
</section>
