.navegacao{
  padding: 64px 32px;


  ul{
    display: flex;
    flex-direction: column;
    gap: 24px;
  }


  li{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    &:hover{
      color: rgb(102, 102, 240);
    }
  }

}

@media (min-width: 1600px) {

  ul{
    gap: 12px;
  }

  li{
    font-size: 0.5rem;
  }
}

@media (max-width: 1400px) {
  .navegacao {

    li {
      font-size: 19px;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
