@if (professor(); as prof) {

  <!-- MODO VISUALIZAÇÃO -->
  @if (!editando()) {
    <section class="pgs-perfil-detalhes">
      <app-cpt-perfil-datalhes [professor]="prof"></app-cpt-perfil-datalhes>
      
      <div class="buttons-perfil">
        <button class="buttons-perfil__editar" (click)="alternarEdicao()">
          Editar Perfil
        </button>

        @if (podeExcluir) {
          <button class="buttons-perfil__excluir" (click)="excluirPerfil()">
            Excluir Conta
          </button>
        }
      </div>
    </section>
  }

  <!-- MODO EDIÇÃO -->
  @else {
    <section class="perfil-edicao">
      <app-cpt-professor-forms
        [professorAtivo]="prof"
        [mostrarDisciplinas]="mostrarDisciplinas"
        (onSave)="atualizarPerfil($event)"
        (onCancel)="alternarEdicao()"
      ></app-cpt-professor-forms>
    </section>
  }

} @else {
  <!-- Feedback visual enquanto o signal é null -->
  <div class="loading-container">
    <p>Carregando dados do perfil...</p>
  </div>
}
