<section class="dashboard">


  <h2>Resumo Geral</h2>

  <section class="dashboard-resumo">

      <app-cpt-card-resumo
      corTema="#4E9971"
      titulo="Minhas Matérias"
      valor='{{ disciplinasLecionadas }}'
      ></app-cpt-card-resumo>

      <app-cpt-card-resumo
      corTema="#09A4F2"
      titulo="Minhas Perguntas"
      valor='{{ perguntasLecionadas }}'
      ></app-cpt-card-resumo>

  </section>

  @if (usuario?.tipo === 'COORDENADOR') {

    <h2>Coordenadoria</h2>


    <section class="dashboard-resumo">

      <app-cpt-card-resumo
      corTema="#AA2302"
      titulo="Quantidade de Professores"
      valor='{{ totalProfessores }}'
      ></app-cpt-card-resumo>

      <app-cpt-card-resumo
      corTema="#09234F"
      titulo="Total de Perguntas"
      valor='{{ totalPerguntas }}'
      ></app-cpt-card-resumo>

      <app-cpt-card-resumo
      corTema="#4E9971"
      titulo="Total de Matérias"
      valor='{{ totalDisciplinas }}'
      ></app-cpt-card-resumo>

    </section>
  }

  <h2>Matérias Lecionadas</h2>

 <section class="dashboard-materias">
    @for (disciplina of disciplinasFiltradas; track $index) {
      <app-cpt-card-materia
      [disciplina]="disciplina"
      [totalQuestoes]="contarPerguntasNaDisciplina(disciplina, usuario)"
      ></app-cpt-card-materia>
    }
  </section>


</section>





