@use '@angular/material' as mat;

.list-disciplina {
  padding: 32px 64px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .list-disciplina {
    padding: 8px 0; /* Remove padding lateral que já existe no avalia-container__conteudo */
  }
}
