
<mat-tab-group>
  <!-- Tab 1 - Sempre visível -->
  <mat-tab label="Minhas Disciplinas" class="minhas-disciplinas">
    <section class="list-disciplina">
      @for (disciplina of disciplinasFiltradas; track $index) {
        <app-cpt-table-materia
          [disciplina]="disciplina"
          [professores]="professores"
          class="disciplina"
          (alterarAlternativa)="onAlterarAlternativa($event)"
        ></app-cpt-table-materia>
      }
    </section>
  </mat-tab>

  <!-- Tab 2 - Apenas para coordenador -->
  @if (usuario?.perfilProfessor === 'COORDENADOR') {
    <mat-tab label="Todas as Disciplinas">
      <section class="list-disciplina">
        @for (disciplina of disciplinas; track $index) {
          <app-cpt-table-materia
            [disciplina]="disciplina"
            [professores]="professores"
            (alterarAlternativa)="onAlterarAlternativa($event)"s
            class="disciplina"
          ></app-cpt-table-materia>
        }
      </section>
    </mat-tab>
  }
</mat-tab-group>
