.cabecalho{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #09234F;
  height: 100%;

  .logo{
    height: 300px;
    width: 300px;
  }






}
