<section class="senha-forms">
  <img class="senha-forms__logo" src="assets/logo/logo-avalia.png" alt="logo avalia" />

  <form [formGroup]="senhaForms" (ngSubmit)="onSubmit()" class="example-form">
    <h3 class="senha-forms__titulo">Email</h3>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com" />
      @if (email.hasError('required') && email.touched) {
        <mat-error>Email é <strong>obrigatório</strong></mat-error>
      }
      @if (email.hasError('email') && !email.hasError('required') && email.touched) {
        <mat-error>Por favor, insira um email válido</mat-error>
      }
      @if (email.hasError('emailNaoEncontrado') && !email.hasError('required') && !email.hasError('email') && email.touched) {
        <mat-error>Este email <strong>não foi encontrado</strong> no sistema</mat-error>
      }
    </mat-form-field>

    <h3 class="senha-forms__titulo">Senha</h3>
    <mat-form-field class="example-full-width">
      <mat-label>Senha</mat-label>
      <input
        [type]="ocultarSenha ? 'password' : 'text'"
        matInput
        formControlName="novaSenha"
        placeholder="Ex. **********"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="ocultarSenha = !ocultarSenha"
        [attr.aria-label]="'Ocultar senha'"
        [attr.aria-pressed]="!ocultarSenha"
        type="button">
        <mat-icon>{{ ocultarSenha ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>

      @if (novaSenha.hasError('required') && novaSenha.touched) {
        <mat-error>Senha é <strong>obrigatória</strong></mat-error>
      }
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Confirmar Senha</mat-label>
      <input
        [type]="ocultarConfirmacao ? 'password' : 'text'"
        matInput
        formControlName="confirmPassword"
        placeholder="Ex. **********"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="ocultarConfirmacao = !ocultarConfirmacao"
        [attr.aria-label]="'Ocultar confirmação de senha'"
        [attr.aria-pressed]="!ocultarConfirmacao"
        type="button">
        <mat-icon>{{ ocultarConfirmacao ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>

      @if (confirmPassword.hasError('required') && confirmPassword.touched) {
        <mat-error>Confirmar senha é <strong>obrigatório</strong></mat-error>
      }
      @if (confirmPassword.hasError('senhasNaoCoincidem') && confirmPassword.touched) {
        <mat-error>As senhas não <strong>correspondem</strong></mat-error>
      }
    </mat-form-field>

    <button type="submit" class="senha-forms__button">Salvar</button>
  </form>

  <span class="cadastrar" routerLink="/login">Voltar</span>
</section>
