.card-disciplina {
  --disc-color: #999;
  --disc-color-soft: color-mix(in srgb, var(--disc-color) 30%, white);
  --disc-color-text: color-mix(in srgb, var(--disc-color) 45%, black);

  margin: 1rem 0;
  border-radius: 1rem;
  overflow: hidden;
  transition: box-shadow 0.25s ease;
  border-left: 6px solid var(--disc-color);

  &:hover {
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.10);
  }

  .cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 2rem;
    
    background-color: #E2EBFB; 
    
    cursor: pointer;
  }

  .titulo {
    font-size: 1.1rem;
    margin: 0;
    font-weight: 600;
    color: var(--disc-color-text);
  }

  .icone {
    color: var(--disc-color-soft);
    transition: transform 0.25s ease;

    &.rotated {
      transform: rotate(180deg);
    }
  }

  .conteudo-expandido {
    padding: 1.5rem;
    
    background-color: #fff;
    
    border-top: 1px solid #dcebfd; 
  }

  .mensagem-vazia {
    text-align: center;
    color: #888;
    font-style: italic;
  }

  mat-paginator {
    margin-top: 1rem;
  }
}