.pgs-senha {
  width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: flex-start;


  app-cpt-banner {
    width: 55%;

  }

  app-cpt-senhaforms {
    width: 45%;
    margin: 0 auto;
  

  }
}
