.avalia-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 1024px;
  min-height: 600px;

  app-pgs-cabecalho {
    height: 15%;
    min-height: 120px;
    background-color: rgb(102, 102, 240);
    color: white;
    flex-shrink: 0;
  }

  &__main {
    display: flex;
    flex: 1;
    height: 85%;
    overflow: hidden;

    app-pgs-navegacao {
      width: 20%;
      min-width: 280px;
      background-color: #E2EBFB;
      flex-shrink: 0;
    }
  }

  &__conteudo {
    flex: 1;

    background-color: rgb(255, 255, 255);
    padding: 32px;
    overflow-y: auto;
    color: black;
  }
}


@media (max-width: 1599px) and (min-width: 1200px) {

.avalia-container {

      app-pgs-navegacao {
        width: 23%;
      }
    }


  }




